<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Land O' Lakes Area Artisans</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/landing-page.css" rel="stylesheet" />
    <link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class =  "navColor" })
                    </li>
                    <li>
                        @Html.ActionLink("Donations","Donations","Donations")
                    </li>
                    <li>
                        @Html.ActionLink("Scholarships","Scholarship","Home")
                    </li>
                    <li>
                        @Html.ActionLink("Courses","Index","Courses")
                    </li>
                    <li>
                        @Html.ActionLink("Events","Index","Events")
                    </li>
                    <li>
                        @Html.ActionLink("Photos","Photos","Home")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Art Impression Event","ArtImpression","Home")
                    </li>
                    @Html.Partial("_LoginPartial")                   
                </ul>               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div>
        @RenderBody()
        <hr />
        <center><footer>
            <p class="mossgreen">&copy; @DateTime.Now.Year - Land O' Lakes Area Artisans. Website Design by <i>Cardinal Web Group</i>.</p>
            <center><p class="mossgreen">Follow Us on Social Media!</p></center>
            <p>
                <a href="https://www.facebook.com/Land-O-Lakes-Area-Artisans-Inc-LOLA-206828476113365/timeline/">
                    <i class="fa fa-facebook-official fa-4x" style="color:#3b5998"></i>
                </a>
                <a href="https://twitter.com/LOLAartswi">
                    <i class="fa fa-twitter fa-4x" style="color:#4099FF"></i></a>
                    <i class="fa fa-youtube-play fa-4x" style="color:#e52d27"></i>
                    <i class="fa fa-instagram fa-4x" style="color:#125688"></i>
                    <i class="fa fa-pinterest fa-4x" style="color:#cb2027"></i>
                    
            </p>
        </footer></center>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
