@model IEnumerable<LOLAWebsite.Models.Courses>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Cost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Start_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Cost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Course_ID })
            </td>
        </tr>
    }

</table>