<div class="container navbar" id="navbar">
    <ul class="nav navbar-nav navbar-right ">
        <li>
            @Html.ActionLink("Overview", "Index", "UserAccounts")
        </li>
        <li>
            @Html.ActionLink("Personal Info", "PerSonalInfo", "UserAccounts")
        </li>
        <li>
            @Html.ActionLink("Classes", "CourseHistory", "UserAccounts")
        </li>
        <li>
            @Html.ActionLink("Events", "EventHistory", "UserAccounts")
        </li>
        <li>
            @Html.ActionLink("Donations", "DonationHistory", "UserAccounts")
        </li>
    </ul>
</div>