<!--
    1. get classes
    2. get events with date => today's date
    3. if no classes, display message
    4. display classes
-->
@using LOLAWebsite.Models;
@model IEnumerable<LOLAWebsite.Models.Course>
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;

<link href="~/Content/events.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h2>Upcoming Classes</h2>
<p>These are your upcoming classes.</p>

@{
    // GET : userID
    var currentUserID = User.Identity.GetUserId();
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = userManager.FindById(User.Identity.GetUserId());

    // GET : todays date
    DateTime todayDate = DateTime.Today;

    // GET : courses
    LOLADBEntities db = new LOLADBEntities();

    var courseList = db.Courses.ToList();
    var courseRegList = db.Course_Registration.ToList();
    int i=0;

    if (courseRegList.Count > 0) 
    { 
        foreach (var item in courseRegList)
        {
            var course = db.Courses.Single(c => c.Course_ID == item.Course_ID);
            DateTime endDate = course.Course_End_Date ?? DateTime.Now;
            DateTime startDate = course.Course_Start_Date ?? DateTime.Now;
            TimeSpan ts = endDate - startDate;
            int dateCompare = DateTime.Compare(endDate, todayDate);
            
            // if date is later than today and the user id matches the currentUser
            // display the class
            if (dateCompare >= 0 && item.Id == currentUser.Id)
            {
                i++;
                DateTime sd = course.Course_Start_Date ?? DateTime.Now;
                DateTime ed = course.Course_End_Date ?? DateTime.Now;
                <div class="[ col-xs-12 col-sm-offset-1 col-sm-8 ]">
                    <ul class="event-list"><li id="courseContainer" class="@sd.ToString("MMM")">
                        <time>
                            <span class="day">@sd.Day.ToString()</span>
                            <span class="month">@sd.ToString("MMM")</span>
                             @if (ts.Days == 0)
                             {
                                 <span class="time">@Html.DisplayFor(modelItem => course.Course_Time_Start) - @Html.DisplayFor(modeItem => course.Course_Time_End)</span>
                             } // end if
                            else
                            {
                                 <span class="year">Through @ed.ToString("MMM dd")</span>
                                 <br />
                                 <span class="time">@Html.DisplayFor(modelItem => course.Course_Time_Start) - @Html.DisplayFor(modeItem => course.Course_Time_End)</span>
                            } <!-- end else -->
                                </time>
                                <div class="info">
                                    <h2 class="title">@Html.DisplayFor(modelItem => course.Course_Type)</h2>
                                    <p class="desc">@Html.DisplayFor(modelItem => course.Course_Desc)</p>
                                    <ul>
                                        <li class="darkerGrey" style="width:100%;">@Html.ActionLink("Click here for Course details", "Details", new { id = item.Course_ID })</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
            } // end if dateCompare

        } // end foreach

        if (i == 0)
        {
            <p>You are not registered for any classes!</p>
            <p>@Html.ActionLink("Sign up for one today!", "Index", "Courses", new {@id = ""},new { @class = "btn btn-default" })</p>
        } // end if
        
    } // end if

    else
    {
        <p>There are no courses in the database.</p>
    } // end else
}